<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<dict>
		<key>name</key>
		<string>Multimedia</string>
		<key>status</key>
		<true/>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>Play Video</string>
				<key>class</key>
				<string>PlayVideo</string>
				<key>status</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>AutoLayout</string>
		<key>status</key>
		<true/>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>Auto Layout</string>
				<key>class</key>
				<string>AutoLayout</string>
				<key>status</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>CoreLearning</string>
		<key>status</key>
		<true/>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>Using Block</string>
				<key>class</key>
				<string>UsingBlock</string>
				<key>status</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>Demo InitFunction</string>
				<key>class</key>
				<string>DemoInitFunction</string>
				<key>status</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>Demo VisualEffectView</string>
				<key>class</key>
				<string>DemoVisualEffectView</string>
				<key>status</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>Loading Animation TableView</string>
				<key>class</key>
				<string>LoadingAnimationTableView</string>
				<key>status</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>Test DrawContext</string>
				<key>class</key>
				<string>TestDrawContext</string>
				<key>status</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>TableView&amp;CollectionView</string>
		<key>status</key>
		<true/>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>Demo TableView</string>
				<key>class</key>
				<string>DemoTableView</string>
				<key>status</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>Demo CollectionView</string>
				<key>class</key>
				<string>DemoCollectionView</string>
				<key>status</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Graphics &amp; Animation APIs</string>
		<key>status</key>
		<true/>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>UIKit Dynamics</string>
				<key>class</key>
				<string>UIKitDynamics</string>
				<key>status</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>Core Image</string>
				<key>class</key>
				<string>CoreImage</string>
				<key>status</key>
				<true/>
			</dict>
		</array>
	</dict>
</array>
</plist>
